<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nth-Grid Demo</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="grids-less.css">

    <!--[if gte IE 9]>  <!-- -->
    <link rel="stylesheet" href="grids-pcss.css">
    <link rel="stylesheet" href="grids-scss.css">
    <link rel="stylesheet" href="grids-styl.css">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body class="compare">

    <!--[if gte IE 9]>  <!-- -->
    <input type="checkbox" id="nav-toggle" autocomplete="off">
    <label for="nav-toggle">
        <i><span></span></i>
    </label>
    <nav>
        <h1>Nth-Grid</h1>
        <ul>
            <li><a href="#compare">Compare</a></li>
            <li><a href="#less">Less</a></li>
            <li><a href="#postcss">PostCSS</a></li>
            <li><a href="#sass">Sass</a></li>
            <li><a href="#stylus">Stylus</a></li>
        </ul>
    </nav>
    <![endif]-->

    <main>
        <section class="less">
            {{> grids.html}}
        </section>

        <!--[if gt IE 8]>  <!-- -->
        <section class="postcss">
            {{> grids.html}}
        </section>

        <section class="sass">
            {{> grids.html}}
        </section>

        <section class="stylus">
            {{> grids.html}}
        </section>
        <![endif]-->
    </main>

    <!-- JavaScript -->
    <!--[if lte IE 8]>
    <script src="/js//nwmatcher.js"></script>
    <script src="/js//selectivizr2.js"></script>
    <![endif]-->
    <script src="/js/main.js"></script>
</body>
</html>
