// Variables - Color
// =============================================================================
// Elements
$body-bg        : #fff;
$text-color-main: #000;

// Nth-Grid
$nthgrid-base   : #7c48c3;
$nthgrid-dark   : #3023ae;
$nthgrid-light  : #c86dd7;
