<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nth-Grid - Test</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="grids-less.css">

    <!--[if gte IE 9]>  <!-- -->
    <link rel="stylesheet" href="grids-postcss.css">
    <link rel="stylesheet" href="grids-sass.css">
    <link rel="stylesheet" href="grids-stylus.css">
    <![endif]-->

    <!--[if lte IE 8]>
        <script src="https://unpkg.com/html5shiv/dist/html5shiv.min.js"></script>
        <script src="https://unpkg.com/respond.js/dest/respond.min.js"></script>
        <script src="https://unpkg.com/selectivizr2"></script>
    <![endif]-->
</head>

<body class="less">

    <!--[if gte IE 9]>  <!-- -->
    <input type="checkbox" id="nav-toggle" autocomplete="off">
    <label for="nav-toggle">
        <i><span></span></i>
    </label>
    <nav>
        <h1>Nth-Grid - Test</h1>
        <ul>
            <li><a href="#less">Less</a></li>
            <li><a href="#postcss">PostCSS</a></li>
            <li><a href="#sass">Sass</a></li>
            <li><a href="#stylus">Stylus</a></li>
            <li><a href="#compare">Compare</a></li>
            <li><a href="sassdoc/">SassDoc</a></li>
        </ul>
    </nav>
    <![endif]-->

    <main>
        <section class="less">
            {{> grids-html grids}}
        </section>

        <!--[if gt IE 8]>  <!-- -->
        <section class="postcss">
            {{> grids-html grids}}
        </section>

        <section class="sass">
            {{> grids-html grids}}
        </section>

        <section class="stylus">
            {{> grids-html grids}}
        </section>
        <![endif]-->
    </main>

    <!-- JavaScript -->
    <script src="js/main.js"></script>
</body>
</html>
