.grid-nocalc-fixed-middle-multiratio {
    @include nth-grid(
        
        $order: false,
        $columns: 1 5rem 2,
        $gap: 0.5rem,
        $margin: 0.5rem,
        $width: 14rem
    );
}
