// Section - Splash
// =============================================================================
#splash {
    @extend %vertical-center;

    height: 100vh;
    text-align: center;

    .center {
        max-width: 42em;
        width: 80%;
        margin: 0 auto;
    }

    p {
        margin: 4vh 0;
        text-align: justify;
    }

    .logo {
        margin: 0 auto;
        max-width: 30%;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin-top: 1em;
        list-style: none;
        text-align: center;
    }

    a {
        font-weight: 500; // Book
    }

    .button {
        display: inline-block;
        margin: 0 auto;
        padding: 0.65rem 2rem 0.5rem calc(2em + 24px); // Adjusted for webfont
        border: 1px solid $nthgrid-base;
        border-radius: 2px;
        background: #fff url(../images/logo-github.svg) 1em center no-repeat;
        background-size: 24px;

        &:before {
            display: none;
        }
    }

    // 768px
    @media (min-width: 48em) {
        ul {
            width: 70%;
            margin-bottom: 2vh;
            margin-left: auto;
            margin-right: auto;
            text-align: justify;

            // Justify text fix
            &:after {
                content: '';
                position: relative;
                display: inline-block;
                width: 100%;
            }
        }

        li {
            display: inline-block;
            margin: 0;
        }
    }
}
