// Layout - Navigation
// =============================================================================
$id                       : 'nav-toggle' !default;
$elm                      : 'ul' !default;
$bar-autohide             : false !default;
$bar-background           : #fff !default;
$bar-height               : 5rem !default;
$bar-padding              : 30px !default;
$drawer-blur              : false !default;
$drawer-breakpoint        : 48rem !default;
$drawer-width             : 15rem !default;
$icon-background          : transparent !default;
$icon-background-active   : $icon-background !default;
$icon-border              : 0 !default;
$icon-border-active       : $icon-border !default;
$icon-border-radius       : 0 !default;
$icon-border-radius-active: $icon-border-radius !default;
$icon-color               : #000 !default;
$icon-color-active        : $icon-color !default;
$icon-padding             : 0 !default;
$icon-size                : 24px !default;
$icon-transition-duration : 0.2s !default;
$label-autohide           : true !default;
$location                 : right !default;
$overlay-color            : #000 !default;
$overlay-opacity          : 0.5 !default;
$transition-duration      : 0.5s !default;
$z-index                  : 2147483646 !default;

// Nav Drawer (Default)
// -----------------------------------------------------------------------------
// Toggles
input##{$id},
label[for="#{$id}"] {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Toggle overlay
input##{$id} {
    visibility: hidden;
    position: fixed;
    z-index: $z-index + 1;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100vw - #{$drawer-width});
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    opacity: 0;
    cursor: pointer;
    appearance: none;

    // Active State
    &:checked {
        visibility: visible;
    }

    // Blur Effect
    @if $drawer-blur == true {
        & ~ *:not(label),
        & ~ nav > :not(#{$elm}) {
            filter: unset;
            transition: filter $transition-duration;
            will-change: filter;
        }

        &:checked {
            & ~ *,
            & ~ nav > :not(#{$elm}) {
                filter: blur(4px);
            }

            & ~ label[for="#{$id}"],
            & ~ nav {
                filter: unset;
            }
        }

        // Disable for IE9
        & ~ *,
        & ~ nav > * {
            filter: progid:DXImageTransform.Microsoft.Blur(enabled='false') !important;
        }
    }
}

// Toggle Icon & Label
label[for="#{$id}"] {
    position: fixed;
    z-index: $z-index + 1;
    top: $bar-height * 0.5;
    #{$location}: $bar-padding;
    margin: 0;
    padding: $icon-padding;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition-property: filter opacity;

    // Auto-hide
    @if $label-autohide == true {
        opacity: 1;
        transition-delay: $transition-duration;
        transition-duration: $transition-duration;
        will-change: opacity;
    }

    &:focus {
        outline: none;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    // Icon
    i {
        display: inline-block;
        height: $icon-size;
        width: $icon-size;
        padding: 5px;
        border: $icon-border;
        border-radius: $icon-border-radius;
        background: $icon-background;
        font-size: 0;
        transition-property: background, border, transform;
        transition-duration: $icon-transition-duration;
        will-change: background, border, transform;

        // Label Spacing
        * + &,
        & + * {
            margin-left: 0.5rem;
        }

        // Bars
        & span {
            // Middle bar
            display: block;
            position: relative;
            top: 50%;
            margin-top: -2px;

            // Auto-hide
            @if $label-autohide != true {
                transition: background $icon-transition-duration;
                will-change: background;
            }

            &,
            &:before,
            &:after {
                height: 2px;
                background: $icon-color;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transition-property: top, bottom, transform;
                transition-duration: $icon-transition-duration;
                will-change: top, bottom, transform;
            }

            // Top bar
            &:before {
                top: -7px;
            }

            // Bottom bar
            &:after {
                bottom: -7px;
            }
        }
    }

    // Active State
    input##{$id}:checked ~ & {
        @if $label-autohide == true {
            visibility: hidden;
            opacity: 0;
            transition-delay: 0s;
            transition-duration: $transition-duration * 0.5;
        }

        // Icon
        i {
            @if ($icon-background-active != $icon-background) {
                background: $icon-background-active;
            }
            @if ($icon-border-active != $icon-border) {
                border: $icon-border-active;
            }
            @if ($icon-border-radius-active != $icon-border-radius) {
                border-radius: $icon-border-radius-active;
            }

            @if $label-autohide != true {
                & span {
                    background: transparent;

                    &:before,
                    &:after {
                        @if ($icon-color-active != $icon-color) {
                            background: $icon-color-active;
                        }
                    }

                    &:before {
                        top: 0;
                        transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                    }

                    &:after {
                        bottom: 0;
                        transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

// Container
nav {
    position: fixed;
    z-index: $z-index;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $bar-padding;
    background: $bar-background;

    // Auto-hide
    @if $bar-autohide == true {
        > *:not(#{$elm}) {
            display: none;
        }
    }
    @else {
        height: $bar-height;
    }

    // Vertical centering element
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        margin-left: -0.25em;
        vertical-align: middle;
    }

    // Visual Overlay
    &:after {
        content: '';
        visibility: hidden;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        background: $overlay-color;
        opacity: 0;
        transition-property: opacity, visibility;
        transition-duration: $transition-duration;
        will-change: opacity, visibility;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    // Vertically centered descendants
    > * {
        display: inline-block;
        vertical-align: middle;
    }

    // Drawer
    > #{$elm} {
        position: fixed;
        z-index: 2;
        top: 0;
        #{$location}: 0 - $drawer-width;
        overflow: auto;
        height: 100%;
        width: $drawer-width;
        background: $bar-background;
        text-align: center;
        transition: transform;
        transition-duration: $transition-duration;
        will-change: transform;

        > * {
            display: block;
            margin-top: 2em;

            @if $label-autohide != true {
                &:first-child {
                    margin-top: $bar-height;
                }
            }
        }

        a {
            display: inline-block;
        }
    }

    // Active State
    input##{$id}:checked ~ & {
        // Drawer
        > #{$elm} {
            transform: if($location == left, translateX($drawer-width), translateX(0 - $drawer-width));
            -ms-transform: if($location == left, translateX($drawer-width), translateX(0 - $drawer-width));
        }

        // Visual Overlay
        &:after {
            visibility: visible;
            opacity: $overlay-opacity;
        }
    }
}


// Nav Bar
// -----------------------------------------------------------------------------
@media (min-width: $drawer-breakpoint) {
    // Toggle overlay
    input##{$id} {
        display: none;

        // Active State
        &:checked {
            // Disable blur
            @if $drawer-blur == true {
                & ~ *,
                & ~ nav > * {
                    filter: unset !important;
                    filter: progid:DXImageTransform.Microsoft.Blur(enabled='false') !important;
                }
            }
        }
    }

    // Toggle Icon & Label
    label[for="#{$id}"] {
        display: none;
    }

    // Container
    nav {
        // Auto-hide
        @if $bar-autohide == true {
            height: $bar-height;

            > *:not(#{$elm}) {
                display: inline-block;
            }
        }

        // Bar
        > #{$elm} {
            top: $bar-height * 0.5;
            right: $bar-padding;
            height: auto;
            width: auto;
            margin-top: -0.5em;
            padding: 0;
            text-align: right;
            background: transparent;
            transition-duration: 0s;

            > * {
                display: inline-block;
                margin-top: 0;
                margin-left: 2em;
            }
        }

        // Active State
        input##{$id}:checked ~ & {
            // Bar
            > #{$elm} {
                transform: translateX(0);
                -ms-transform: translateX(0);
            }

            // Visual Overlay
            &:after {
                display: none;
            }
        }
    }
}
