// Variables
// =============================================================================
// Elements
$body-bg   : #ddd;
$text-color: #000;

// Vendor
$vendor-color-map: (
    compare    : #333,
    less       : #466DA9,
    postcss    : #dd3735,
    sass-import: #c6538c,
    sass-use   : #c6538c,
    stylus     : #ff6347
);

// Layout
$space-fixed: 20px;

// Timing
$time-fast  : 0.25s;
$time-medium: 0.5s;
$time-slow  : 1s;

// Typography
$line-height: 1.4;

// Font Families
$font-family-sans : sans-serif;
$font-family-serif: serif;

// Font Size
$font-small : 11px;
$font-medium: 16px;
$font-large : 20px;


// Modules
// =============================================================================
@use "sass:color";
@use "nav" with (
    $bar-height : 5rem,
    $bar-padding: $space-fixed
);
@use "sass/nth-grid" as *;


// Base
// =============================================================================
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    padding-top: nav.$bar-height;
    background: $body-bg;
    font-family: $font-family-sans;
    font-size: $font-medium;
    font-weight: 300;
}

label {
    cursor: pointer;
}

main {
    margin-top: 4em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
}

h1 {
    font-size: $font-large;
}

h2 {
    font-size: $font-medium;
    text-align: center;
}


// Nav (Component)
// =============================================================================
nav {
    a {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        color: #999;
        text-decoration: none;

        // Grid selection
        @each $name, $color in $vendor-color-map {
            .#{$name} &[href="\##{$name}"] {
                color: $color;
                border-color: $color;
            }
        }

        code {
            padding: 0.2em  0.35em;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.075);
            font-size: 90%;
        }
    }
}


// Grids
// =============================================================================
h2 {
    margin-bottom: 0.75em;
}

section {
    display: none;

    & > [class*="grid-"] {
        margin-bottom: 2em;
    }
}

// Show section when body class matches
@each $name, $color in $vendor-color-map {
    .#{$name} section.#{$name} {
        display: block;
    }
}

// All Grids
// -----------------------------------------------------------------------------
[class*="grid-"] {
    margin-right: auto;
    margin-left: auto;

    // Responsive images in grid containers
    img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    // All columns
    > * {
        color: #fff;
        line-height: 2.5;
        text-align: center;

        // Column content
        p {
            margin: 1em;
            text-align: left;
            line-height: $line-height;
        }
    }

    // Grid colors
    @each $name, $color in $vendor-color-map {
        section.#{$name} &,
        section.#{$name} & & {
            background-color: color.adjust(color.adjust($color, $lightness: 20%), $saturation: -5%) !important;

            > * {
                background: $color !important;

                &:before {
                    color: #fff !important;
                }
            }
        }
    }
}

// Compare View
// -----------------------------------------------------------------------------
.compare {
    main {
        @include nth-grid(
            $columns: 5,
            $gap    : 1%
        );

        h2 {
            position: absolute;
            left: 0;
            right: 0;
            background: $body-bg;
        }
    }

    section {
        display: block;

        > [class^="grid-"] {
            margin-top: 2em;

            ~ [class^="grid-"] {
                margin-top: 4em;
            }
        }
    }
}
