input#nav-toggle,
label[for=nav-toggle] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input#nav-toggle {
  visibility: hidden;
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100vw - 15rem);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  opacity: 0;
  cursor: pointer;
  appearance: none;
}
input#nav-toggle:checked {
  visibility: visible;
}

label[for=nav-toggle] {
  position: fixed;
  z-index: 2147483647;
  top: 2.5rem;
  right: 20px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  cursor: pointer;
  appearance: none;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transition-property: filter opacity;
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  will-change: opacity;
}
label[for=nav-toggle]:focus {
  outline: none;
}
label[for=nav-toggle] > * {
  display: inline-block;
  vertical-align: middle;
}
label[for=nav-toggle] i {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 5px;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-size: 0;
  transition-property: background, border, transform;
  transition-duration: 0.2s;
  will-change: background, border, transform;
}
* + label[for=nav-toggle] i, label[for=nav-toggle] i + * {
  margin-left: 0.5rem;
}
label[for=nav-toggle] i span {
  display: block;
  position: relative;
  top: 50%;
  margin-top: -2px;
}
label[for=nav-toggle] i span, label[for=nav-toggle] i span:before, label[for=nav-toggle] i span:after {
  height: 2px;
  background: #000;
}
label[for=nav-toggle] i span:before, label[for=nav-toggle] i span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transition-property: top, bottom, transform;
  transition-duration: 0.2s;
  will-change: top, bottom, transform;
}
label[for=nav-toggle] i span:before {
  top: -7px;
}
label[for=nav-toggle] i span:after {
  bottom: -7px;
}
input#nav-toggle:checked ~ label[for=nav-toggle] {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.25s;
}
nav {
  position: fixed;
  z-index: 2147483646;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: #fff;
  height: 5rem;
}
nav:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  margin-left: -0.25em;
  vertical-align: middle;
}
nav:after {
  content: "";
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background: #000;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  will-change: opacity, visibility;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
}
nav > * {
  display: inline-block;
  vertical-align: middle;
}
nav > ul {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -15rem;
  overflow: auto;
  height: 100%;
  width: 15rem;
  background: #fff;
  text-align: center;
  transition: transform;
  transition-duration: 0.5s;
  will-change: transform;
}
nav > ul > * {
  display: block;
  margin-top: 2em;
}
nav > ul a {
  display: inline-block;
}
input#nav-toggle:checked ~ nav > ul {
  transform: translateX(-15rem);
  -ms-transform: translateX(-15rem);
}
input#nav-toggle:checked ~ nav:after {
  visibility: visible;
  opacity: 0.5;
}

@media (min-width: 48rem) {
  input#nav-toggle {
    display: none;
  }
  label[for=nav-toggle] {
    display: none;
  }

  nav > ul {
    top: 2.5rem;
    right: 20px;
    height: auto;
    width: auto;
    margin-top: -0.5em;
    padding: 0;
    text-align: right;
    background: transparent;
    transition-duration: 0s;
  }
  nav > ul > * {
    display: inline-block;
    margin-top: 0;
    margin-left: 2em;
  }
  input#nav-toggle:checked ~ nav > ul {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
  input#nav-toggle:checked ~ nav:after {
    display: none;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  padding-top: 5rem;
  background: #ddd;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
}

label {
  cursor: pointer;
}

main {
  margin-top: 4em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
  text-align: center;
}

nav a {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  color: #999;
  text-decoration: none;
}
.compare nav a[href="#compare"] {
  color: #333;
  border-color: #333;
}
.less nav a[href="#less"] {
  color: #466DA9;
  border-color: #466DA9;
}
.postcss nav a[href="#postcss"] {
  color: #dd3735;
  border-color: #dd3735;
}
.sass-import nav a[href="#sass-import"] {
  color: #c6538c;
  border-color: #c6538c;
}
.sass-use nav a[href="#sass-use"] {
  color: #c6538c;
  border-color: #c6538c;
}
.stylus nav a[href="#stylus"] {
  color: #ff6347;
  border-color: #ff6347;
}
nav a code {
  padding: 0.2em 0.35em;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.075);
  font-size: 90%;
}

h2 {
  margin-bottom: 0.75em;
}

section {
  display: none;
}
section > [class*=grid-] {
  margin-bottom: 2em;
}

.compare section.compare {
  display: block;
}

.less section.less {
  display: block;
}

.postcss section.postcss {
  display: block;
}

.sass-import section.sass-import {
  display: block;
}

.sass-use section.sass-use {
  display: block;
}

.stylus section.stylus {
  display: block;
}

[class*=grid-] {
  margin-right: auto;
  margin-left: auto;
}
[class*=grid-] img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
[class*=grid-] > * {
  color: #fff;
  line-height: 2.5;
  text-align: center;
}
[class*=grid-] > * p {
  margin: 1em;
  text-align: left;
  line-height: 1.4;
}
section.compare [class*=grid-], section.compare [class*=grid-] [class*=grid-] {
  background-color: #666666 !important;
}
section.compare [class*=grid-] > *, section.compare [class*=grid-] [class*=grid-] > * {
  background: #333 !important;
}
section.compare [class*=grid-] > *:before, section.compare [class*=grid-] [class*=grid-] > *:before {
  color: #fff !important;
}
section.less [class*=grid-], section.less [class*=grid-] [class*=grid-] {
  background-color: #8ca4c9 !important;
}
section.less [class*=grid-] > *, section.less [class*=grid-] [class*=grid-] > * {
  background: #466DA9 !important;
}
section.less [class*=grid-] > *:before, section.less [class*=grid-] [class*=grid-] > *:before {
  color: #fff !important;
}
section.postcss [class*=grid-], section.postcss [class*=grid-] [class*=grid-] {
  background-color: #e89190 !important;
}
section.postcss [class*=grid-] > *, section.postcss [class*=grid-] [class*=grid-] > * {
  background: #dd3735 !important;
}
section.postcss [class*=grid-] > *:before, section.postcss [class*=grid-] [class*=grid-] > *:before {
  color: #fff !important;
}
section.sass-import [class*=grid-], section.sass-import [class*=grid-] [class*=grid-] {
  background-color: #dca3bf !important;
}
section.sass-import [class*=grid-] > *, section.sass-import [class*=grid-] [class*=grid-] > * {
  background: #c6538c !important;
}
section.sass-import [class*=grid-] > *:before, section.sass-import [class*=grid-] [class*=grid-] > *:before {
  color: #fff !important;
}
section.sass-use [class*=grid-], section.sass-use [class*=grid-] [class*=grid-] {
  background-color: #dca3bf !important;
}
section.sass-use [class*=grid-] > *, section.sass-use [class*=grid-] [class*=grid-] > * {
  background: #c6538c !important;
}
section.sass-use [class*=grid-] > *:before, section.sass-use [class*=grid-] [class*=grid-] > *:before {
  color: #fff !important;
}
section.stylus [class*=grid-], section.stylus [class*=grid-] [class*=grid-] {
  background-color: #fdbbaf !important;
}
section.stylus [class*=grid-] > *, section.stylus [class*=grid-] [class*=grid-] > * {
  background: #ff6347 !important;
}
section.stylus [class*=grid-] > *:before, section.stylus [class*=grid-] [class*=grid-] > *:before {
  color: #fff !important;
}

.compare main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  box-sizing: border-box;
  width: auto;
}
.compare main > *:nth-child(1n) {
  box-sizing: border-box;
  position: static;
  left: auto;
  margin-top: 1%;
  margin-left: 1%;
}
.compare main > *:nth-child(-n+5) {
  margin-top: 0;
}
.compare main > *:nth-child(5n+1) {
  margin-left: 0;
}
.compare main > *:nth-last-child(-n+5) {
  margin-bottom: 0;
}
.compare main > *:nth-child(1n) {
  width: 19.2%;
}
.compare main h2 {
  position: absolute;
  left: 0;
  right: 0;
  background: #ddd;
}
.compare section {
  display: block;
}
.compare section > [class^=grid-] {
  margin-top: 2em;
}
.compare section > [class^=grid-] ~ [class^=grid-] {
  margin-top: 4em;
}
