// Nav (Component)
// =============================================================================
nav {
    a {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        color: #999;
        text-decoration: none;

        // Grid selection
        @each $name, $color in $vendor-color-map {
            .#{$name} &[href="\##{$name}"] {
                color: $color;
                border-color: $color;
            }
        }
    }
}


// Grids
// =============================================================================
h2 {
    margin-bottom: 0.75em;
}

section {
    display: none;

    & > [class*="grid-"] {
        margin-bottom: 2em;
    }
}

// Show section when body class matches
@each $name, $color in $vendor-color-map {
    .#{$name} section.#{$name} {
        display: block;
    }
}

// All Grids
// -----------------------------------------------------------------------------
[class*="grid-"] {
    // Responsive images in grid containers
    img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    // All columns
    > * {
        color: #fff;
        line-height: 2.5;
        text-align: center;

        // Column content
        p {
            margin: 1em;
            text-align: left;
            line-height: $line-height;
        }
    }

    // Grid colors
    @each $name, $color in $vendor-color-map {
        section.#{$name} &,
        section.#{$name} & & {
            background-color: desaturate(lighten($color, 20), 5) !important;

            > * {
                background: $color !important;

                &:before {
                    color: #fff !important;
                }
            }
        }
    }
}

// Compare View
// -----------------------------------------------------------------------------
.compare {
    main {
        @include nth-grid(
            $columns: 4,
            $gutter : 2%
        );

        h2 {
            position: absolute;
            left: 0;
            right: 0;
            background: $body-bg;
        }
    }

    section {
        display: block;

        > [class^="grid-"] {
            margin-top: 2em;

            ~ [class^="grid-"] {
                margin-top: 4em;
            }
        }
    }
}
