// Color
// =============================================================================
// Elements
$body-bg   : #ddd;
$text-color: #000;

// Vendor
$vendor-color-map: (
    compare: #333,
    less   : #466DA9,
    postcss: #dd3735,
    sass   : #c6538c,
    stylus : #ff6347
);


// Layout
// =============================================================================
$space-fixed: 20px;


// Timing
// =============================================================================
$time-fast  : 0.25s;
$time-medium: 0.5s;
$time-slow  : 1s;


// Typography
// =============================================================================
$line-height       : 1.4;

// Font Families
$font-family-sans : sans-serif;
$font-family-serif: serif;

// Font Size
$font-small  : 11px;
$font-medium : 16px;
$font-large  : 20px;


// Components
// =============================================================================
// Nav
// $_nav-id                       : 'nav-toggle';
// $_nav-elm                      : 'ul';
// $_nav-bar-autohide             : false;
// $_nav-bar-background           : #fff;
$_nav-bar-height               : 5rem;
$_nav-bar-padding              : $space-fixed;
// $_nav-drawer-blur              : false;
// $_nav-drawer-breakpoint        : 48rem;
// $_nav-drawer-width             : 15rem;
// $_nav-icon-background          : transparent;
// $_nav-icon-background-active   : $_nav-icon-background;
// $_nav-icon-border              : 0;
// $_nav-icon-border-active       : $_nav-icon-border;
// $_nav-icon-border-radius       : 0;
// $_nav-icon-border-radius-active: $_nav-icon-border-radius;
// $_nav-icon-color               : #000;
// $_nav-icon-color-active        : $_nav-icon-color;
// $_nav-icon-padding             : 0;
// $_nav-icon-size                : 24px;
// $_nav-icon-transition-duration : 0.2s;
// $_nav-label-autohide           : true;
// $_nav-location                 : right;
// $_nav-overlay-color            : #000;
// $_nav-overlay-opacity          : 0.5;
// $_nav-transition-duration      : 0.5s;
// $_nav-z-index                  : 2147483646;
