// Base
// =============================================================================
strong {
    font-weight: bold;
}

// Layout
// =============================================================================
#splash {
    margin-top: 7%;

    .button {
        padding: 8px 32px 8px 56px;
        background-image: url(../images/logo-github.png);
    }
}
